.header-logo{font-size:50px;
    float:inherit;
    border-bottom:solid 3px #00CC99;
    
}


.header-logo{
    color:seagreen;
    text-align: center;
    font-family:sans-serif;
}

.Hawaii.jpg{
    background-size:cover;   
}

.twitter{
  font-size:3em;
 color:deepskyblue;
}

.Instagram{
    font-size:3em;
    color:deeppink;
}

.copy-container h1{
    text-align: center;
}

.copy-container h2{
    text-align: center;
    font-size:
}

.contact-form{
    padding-top:100px;
}

.section-title{
    text-align: center;
}

.section-title p{
    padding-left: 150px;
}

.contents{
    padding-left: 150px;
}

.copy-container p{
    padding-left: 150px;
    font-size:20px;
    text-decoration: underline;
}

.contents-main {
    padding-top: 50px;
   
}

.contents-main2{
    padding-top:50px;
    font-size:20px;
   
    
}
